#animation-first-navbar {
    animation : slide-up 2s;
}

.animation-about-one {
    animation: slide-up 3s ease-in;
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(250px);
        
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}